

body {
  margin: 0; 
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #adb5bd;
  
}

.pagina {
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  
 
}

.pagina-ancho {
  max-width: 1000px;
  background-color: #fff;
}

.header {
  background: #59578E;
  color: rgba(255, 255, 255, 0.9);
  height: 220px;
}


.contenido-header {
  display: flex;
  align-content: space-between;
}

.contenido-header div {
  width: 400px;
  height: 100px;
}

.header .picture {
  width: 220px;
}

.header .nombre {
  font-size: 2rem;
  letter-spacing: 0.175rem;
  text-transform: uppercase;
 
  
}

.header .profesion {
  font-size: 1.25rem;

}

.header a {
  color: rgba(255, 255, 255, 0.6);
}


.iconos .fa-container {
  font-size: 1rem;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 0.125rem;
  background: white;
  color: #59578E;
}


.lista-unstyled {
  padding-left: 20;
  list-style: none;
}